HTTP_SERVER_ADDRESS=":8080"
POSTGRES_CONN_STRING="postgresql://postgres:postgres@localhost:5432/plata-currency-exchange"
MIGRATIONS_PATH="./migrations"
EXCHANGE_RATES_BASE_URL="http://api.exchangeratesapi.io/v1/"
EXCHANGE_RATES_API_KEY= # take api key from https://exchangeratesapi.io